
.news
{
 margin-top: 15px;   
 margin-left: 15px;
}

.search-input
{
transform-origin: 0%;
width: 48%;
/*border-radius: 20px;*/
position: fixed;
margin-left: 300px;
margin-top: -45px;
margin-bottom: 0px;
}

.search-input input
{
    height: 46px;
    width: 100%;
    outline: none;
    border-radius: 5px;
  
  
}
.search-input.active input
{
border-radius: 5px 5px 0 0 ;
}
.search-input.active.autocom-box
{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    overflow-y: auto;
    
}
.search-input.active.autocom-box
{
   padding: 20px 8px;
   opacity: 1;
   pointer-events: auto;
   
}
.autocom-box li
{
list-style: none;
padding: 8px 12px;
display:none;
cursor:default;
border-radius: 3px;
background: rgb(155, 206, 155);
}
.search-input.active.autocom-box li
{
    display: block;
}
.autocom-box li:hover
{
    background: rgb(182, 187, 182);
}/*
button
{
margin-left: 5px;
border: none;
height: 30px;
width: 40px;
margin-top: -43px;
}*/
.search-input .search-icon
{
margin-top: -38px;
cursor: pointer;
text-align: center;
margin-left: -10;
position: fixed;
}

/*.inputtxt*/
.input
{
    padding-left: 60px;
    margin-left: 0;
    font-size: 15px;
    background-color:rgb(233, 241, 243) ;
}
@media screen and (max-width:600px) 
{
    /*.inputtxt*/
    .input
    {
        display: none;
    }
}
.material-icons
{
    margin-left: 30px;
}
.down-arrow
{
    margin-top: -37px;
    padding-left: 100%;
    color: rgb(84, 84, 88);
}
.menu
{
    color: rgb(84, 84, 88);
    margin-left: -47%;
    margin-top: -25px;
}
.apps
{
    margin-top: -35px;
    margin-left:142% ;
    color: rgb(80, 87, 87);
    size: 15px;
    text-decoration: none;
}
.apps .material-icons
{
    color: rgb(80, 87, 87);   
    text-decoration-color: rgb(80, 87, 87);
}

.question-mark
{
    margin-top: -20px;
    margin-left:112% ;
    color: rgb(80, 87, 87);
    size: 15px;
    text-decoration: none;
}
.question-mark .material-icons
{
    color: rgb(80, 87, 87);   
    text-decoration-color: rgb(80, 87, 87);
}
.spas
{
    display: block;
    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.listy
{
   display: none;
   background-color: white;
   width:200px;
   height:330px;
   border-radius: 5px;
}
.listy a
{
    text-decoration: none;  
    color: rgb(116, 112, 112); 
    margin-top: 10px;
    margin-bottom: 30px;
}
.gg:hover .listy
{
    display: block;
}
.spas:hover
{
    
    width: 200px;
    height: 30px;
    margin-left: 0px;
    background-color: rgb(217, 219, 216);
}
.line-ll
{
    height: 1px;
    width: 200px;
    background-color: rgb(131, 128, 128);

}




.settings
{
    margin-top: -28px;
    margin-left:118% ;
    color: rgb(80, 87, 87);
    size: 15px;
    text-decoration-color: rgb(80, 87, 87);
}
.settings .material-icons
{
    color: rgb(80, 87, 87);   
    text-decoration-color: rgb(80, 87, 87);
}

.spas2
{
    display: block;
    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.listy2
{
   display: none;
   background-color: white;
   width:200px;
   height:100px;
   border-radius: 5px;
}
.listy2 a
{
    text-decoration: none;  
    color: black; 
    margin-top: 10px;
    margin-bottom: 30px;
}
.lang
{
    color:rgb(153, 156, 156);
    font-size: 18px;
}
.gg2:hover .listy2
{
    display: block;
}
.spas2:hover
{
    
    width: 200px;
    height: 30px;
    margin-left: 0px;
    background-color: rgb(217, 219, 216);
}
.photo24
{
    margin-top: -40px;
    margin-left:1000px ;
    display: fixed;
}


                /************************** list*/

nav ul
{
    float: left; 
    margin-top: -10px;
}
ul li
{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    padding-left: 10px;
    margin-top: -80px;
}
ul li a
{
    text-decoration: none;
    color: rgb(70, 67, 67);
    padding-left: 10px;
}
ul{
    margin-left: 120px;
}
@media screen and (max-width:1000px)
{
    ul
    {
        margin-left: -8px;
        width: max-content;
    }
}
.head-color
{
    background-color: white;
    height: 110px;
    width: 200%;
    margin-top: -2px;
    position: fixed;
    margin-left: -10px;
    
}
ul li a:hover
{
    text-decoration: 3px underline  ;
    color: rgb(52, 22, 221);
    border-radius: 5px;
    /*text-underline-position: 10px;*/
   
} 




/*dropdown menu styling*/
.dropdown{
    display: inline-block;
    position: relative; 
    margin-left: 3px;
}
#dropdown-icon{
    visibility: visible;
    margin-right: 4px;
}
.dropdown-content {
    background-color: white;
    display: none;
    position: absolute;
    right: 0;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: -1;
    transition: display 1s;
    width: 230.36px;
    border-radius: 25px;
}
.dropdown-content a{
    cursor: pointer;
    display: block;
    margin: 4px 0;
    padding: 12px 16px;
}
.dropdown button{
    background-color: transparent;
    border: none;
    border-radius:100%;
}
.dropdown-content i{
    font-size: 15px;
    margin-right: 15px;
}
.dropdown button:hover, .dropdown a:hover{
    background-color: #f1f1f1;
}

/*active state*/
.active-page{
    color: #1a73e8 !important
}
.active-page::after{
    position: relative;
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background: #1a73e8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
@media only screen and (max-width:1100px)
{
    .disable{
       display: none;
    }
    .dropdown{
        visibility: visible;
    }
}



.talk1
 {
    font-size: 28px;
    margin-left: 10px;
    margin-top: 100px;
   /* margin-bottom: 150px;*/
 }
 .date
 {
    margin-top: 10px;
    margin-bottom: 18px;
    color: rgb(107, 106, 105);
    margin-left: 10px;
 }
/*
.sub-header
{
    margin-top: 110px;
    position: relative;
    width: 100%;
    display: flex;
}*/
header
{
    position: relative;
    z-index: 5;
}